{% extends "layout.html" %}

{% block content %}

<div class="register-form">
    <h1 class="intro">Inscription</h1>
    <form action="/register" method="post">
        
        <label>Nom:</label>            
        <input type="text" name="name" id="name" placeholder="Ex. : P. Yuhala" size="20"> <br>

        <label>Email: </label>            
        <input type="email" name="email" id="mail" placeholder="Ex. : pyuhala@gmail.com"><br>
                          
        <input type="submit" value="Inscrire" class="auth-button">
    </form>
</div>

{% endblock %}